*{
    background-color: black;
    font-family: sans-serif, Times, 'Times New Roman', serif;
    color: white;
}

/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*************************************************** Navigation ****************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/

#navigation-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto;
    width:100%;
    min-width: 950px;
    h4{
        font-family: Roboto;
        letter-spacing: 5px;
        font-weight: 300;
    }
    a{
        size:16px;
        text-decoration: none;
    }

    #nav_name{
        width: 70%;
        margin-left: 20px;
    }
    #nav_content{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
        justify-content: space-evenly;
        width:30%;
    }

}
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*************************************************** BODY ****************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/

/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*************************************************** Main Container ****************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/

.main_container{
    position: relative;
    
    min-width: 1350px;
    z-index: 1000;
    filter: brightness(90%);
    
    .main_image{
        text-align: right;
        img{
            border-radius: 50%;
            filter: grayscale(100%);
            border: 10px solid black;
            position: absolute;
            left: 25%;
            top: 20%;
            
        }
    }
    .main_bio{
        position: absolute;
        display: block;
        background-color: rgba(0,0,0,0.4);
        border-radius: 20px;
        padding:20px;
        left: 50%;
        right:10%;
        top: 20%;
        letter-spacing: 1px;
        h1, h4{
           text-transform: uppercase; 
        }
        p, h1,h4{
            width:80%;
            background-color: transparent;
        }

        button{
            border-style: none;
            background-color: lightgrey;
            width:100px;
            height:40px;
            margin-top:40px;
            border-radius: 20px;
            cursor: pointer;
        }

        #resume{
                color: black;
        }
        #project{
            background-color: black;
            border: 2px solid lightgrey;
            margin-left: 20px;
            background-color: transparent;
        }
       
        button:hover{
            background-color: turquoise;
            
        }
    }
    .video-container{
        .bgvideo{
            
            height:800px;
            width: 100%;
            object-fit: cover;
            
        }
       
    }
    
}
/*************************************************** Secondary Container ****************************************************/
.secondary-container{
    padding: 20px;
    position:relative;
    top:100px;
    h1{
        text-align: center;
        padding:20px;
        
    }
    .progressbar{
        padding:20px;
        margin-left: 30%;
        .progressbarHTML{
            background-color: grey;
            width:50%;
            border-radius: 10px;
        }
        .progressbarHTML>div{
            background-color: #d4AF37;
            height:10px;
            border-radius: 10px;
            animation-name: progressHTML;
            animation-duration: 4s;
            width: 90%;

        }

        .progressbar-CSS{
            background-color: grey;
            width:50%;
            border-radius: 10px;
        }
        .progressbar-CSS>div{
            background-color: #d4AF37;
            height:10px;
            border-radius: 10px;
            animation-name: progress-CSS;
            animation-duration: 4s;
            width: 85%;
            
        }

        .progressbar-PHP{
            background-color: grey;
            width:50%;
            border-radius: 10px;
        }
        .progressbar-PHP>div{
            background-color: #d4AF37;
            height:10px;
            border-radius: 10px;
            animation-name: progress-PHP;
            animation-duration: 4s;
            width: 80%;
        }

        .progressbar-JavaScript{
            background-color: grey;
            width:50%;
            border-radius: 10px;
        }
        .progressbar-JavaScript>div{
            background-color: #d4AF37;
            height:10px;
            border-radius: 10px;
            animation-name: progress-JavaScript;
            animation-duration: 4s;
            width: 80%;
            
        }
    }
}

/*************************************************** Third Container ****************************************************/
.third-container{
    padding:20px;
    position:relative;
    top:200px;
    h1{
        text-align: center;
        padding:20px;
    }
    .progressbar{
        padding:20px;
        margin-left: 30%;
        .progressbar-logo{
            background-color: grey;
            width:50%;
            border-radius: 10px;
        }
        .progressbar-logo>div{
            background-color: #d4AF37;
            height:10px;
            border-radius: 10px;
            animation-name: progress-logo;
            animation-duration: 4s;
            width: 90%;

        }

        .progressbar-ui{
            background-color: grey;
            width:50%;
            border-radius: 10px;
        }
        .progressbar-ui>div{
            background-color: #d4AF37;
            height:10px;
            border-radius: 10px;
            animation-name: progress-ui;
            animation-duration: 4s;
            width: 85%;
        }

        .progressbar-Photoshop{
            background-color: grey;
            width:50%;
            border-radius: 10px;
        }
        .progressbar-Photoshop>div{
            background-color: #d4AF37;
            height:10px;
            border-radius: 10px;
            animation-name: progress-ui;
            animation-duration: 4s;
            width: 85%;
        }
        .progressbar-Illustration{
            background-color: grey;
            width:50%;
            border-radius: 10px;
        }
        .progressbar-Illustration>div{
            background-color: #d4AF37;
            height:10px;
            border-radius: 10px;
            animation-name: progress-ui;
            animation-duration: 4s;
            width: 85%;
            
        }
    }

}
/*************************************************** Fourth Container ****************************************************/
.fourth-container{
    padding:20px;
    position:relative;
    top:300px;
    width:100%;
    h1{
        text-align: center;
    }
    .keystrenghts{
        display: grid;
        position: relative;
        top:100px;
        grid-template-columns: repeat(3,1fr);
        width:100%;
        height:30%;
        text-align: center;
        
    }
    .time-keeper{
        animation-name: keystrength-time;
        animation-duration: 4s;
        
    }
    .team-player{
        animation-name: keystrength-team;
        animation-duration: 4s;

    }
    .empathizer{
        animation-name: keystrength-empathy;
        animation-duration: 4s;
        
    }
   
}

/*************************************************** Fifth Container ****************************************************/

.fifth-container{
    position:relative;
    margin-top:600px;
    width:100%;
    h1{
            padding:20px;
            text-align: center;
    }
    h2{
        margin-left: 20px;
        margin-top:60px;
    }

    .photography{
        display: flex;
        align-items: center;
        min-width: 1300px;
        margin-top: 150px;
        
        .image-wrapper {
            position: relative;
            flex-grow: 1;
            margin: auto;
            max-width: 1200px;
            max-height: 1200px;
            
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 20px;
            justify-items: center;
            align-items: center;
        }
        img{
            height:300px;
            width:600px;
            z-index: 1;
            grid-column: span 2;
            max-width: 100%;
            margin-bottom: 0%;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            transform: scale(1);
            transition: all .25s;
        }
        img:hover{
            z-index:2;
            animation: imagehover 2s;
        }
        
    }
        
}
/*************************************************** Sixth Container ****************************************************/
.sixth-container{
    position: relative;
    top:200px;
    width:100%;
    padding:20px;
    h1{
        text-align: center;
    }
    h2,p{
        background-color: grey;
    }
    .certificate{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:80px; 
        text-align: center;
        height:400px;
        width:100%;
        .certificate-1{
            background-color: grey;
            
        }
        .certificate-2{
            background-color: grey;
        }
        .certificate-3{
            background-color: grey;
        }
    }
   
    
    
}

/*************************************************** Seventh Container ****************************************************/



/*************************************************** ***************** ****************************************************/
/*************************************************** Contact ME ***********************************************************/
/*************************************************** ***************** ****************************************************/

.contact-me{
    margin-left:500px;
    margin-right:500px;
    margin-top:100px;
    h1{
        text-align: center;
    }
    input[type=text], select, textarea,[type=email],[type=submit]  {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }

    input[type=submit] {
    background-color: #d4AF37;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: gold;
    }

    .container {
    border-radius: 5px;
    padding: 20px;
    }
}



/* Footer */

footer{
    position: relative;
    top:300px;
    width:100%;
    padding:20px;
    p{
        text-align: center;
    }
}




/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*************************************************** KEY FRAMES ****************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/


@keyframes progressHTML {
    0%{
        width:0%;   
    }
    100%{
        width:90%;
    }
}
@keyframes progress-CSS {
    0%{
        width:0%;   
    }
    100%{
        width:85%;
    }
}
@keyframes progress-PHP {
    0%{
        width:0%;   
    }
    100%{
        width:80%;
    }
}
@keyframes progress-JavaScript {
    0%{
        width:0%;   
    }
    100%{
        width:80%;
    }
}

@keyframes progress-logo {
    0%{
        width:0%;   
    }
    100%{
        width:90%;
    }
}
@keyframes progress-ui {
    0%{
        width:0%;   
    }
    100%{
        width:85%;
    }
}
@keyframes progress-Photoshop {
    0%{
        width:0%;   
    }
    100%{
        width:85%;
    }
}
@keyframes progress-Illustration {
    0%{
        width:0%;   
    }
    100%{
        width:85%;
    }
}



@keyframes keystrength-time{
    0%{
        transform: scale(0);
        
    }
    50%{
        transform: scale(100%);
    }
    100%{
        transform: scale(90%);
    }
}

@keyframes keystrength-team{
    0%{
        transform: scale(0);
        
    }
    50%{
        transform: scale(100%);
    }
    100%{
        transform: scale(90%);
    }
}

@keyframes keystrength-empathy{
    0%{
        transform: scale(0);
        
    }
    50%{
        transform: scale(100%);
    }
    100%{
        transform: scale(90%);
    }
}

// Keyframes for Image 

@keyframes image{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }

}
@keyframes imagehover{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }

}