body, a {
  background-color: black;
  font-family: Poppins, Times, 'Times New Roman', serif;
  color: white;
  margin: 0;
}

/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*************************************************** Navigation ****************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
#navigation-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Poppins;
  width: 100%;
  min-width: 950px;
}

#navigation-header h4 {
  font-family: Poppins;
  letter-spacing: 5px;
  font-weight: 300;
}

#navigation-header a {
  size: 16px;
  text-decoration: none;
}

#navigation-header #nav_name {
  width: 70%;
  margin-left: 20px;
}

#navigation-header #nav_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  justify-content: space-evenly;
  width: 30%;
}

/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*************************************************** BODY ****************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*************************************************** Main Container ****************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
.main_container {
  position: relative;
  min-width: 1350px;
  z-index: 1000;
  filter: brightness(90%);
}

.main_container .main_image {
  text-align: right;
}

.main_container .main_image img {
  border-radius: 50%;
  filter: grayscale(100%);
  border: 10px solid black;
  position: absolute;
  left: 25%;
  top: 20%;
}

.main_container .main_bio {
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 20px;
  left: 50%;
  right: 10%;
  top: 20%;
  letter-spacing: 1px;
}

.main_container .main_bio h1, .main_container .main_bio h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.main_container .main_bio p, .main_container .main_bio h1, .main_container .main_bio h4 {
  width: 80%;
  background-color: transparent;
  font-weight: 300;
}

.main_container .main_bio button {
  border-style: none;
  background-color: lightgrey;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.main_container .main_bio button:hover {
  background-color: #d4AF37;
}

.main_container .main_bio #resume {
  color: black;
}

.main_container .main_bio #project {
  background-color: black;
  border: 2px solid lightgrey;
  margin-left: 20px;
  background-color: transparent;
}

.main_container .video-container .bgvideo {
  height: 800px;
  width: 100%;
  object-fit: cover;
}

/*************************************************** Secondary Container ****************************************************/
.secondary-container {
  padding: 20px;
  position: relative;
  top: 100px;
}

.secondary-container h1 {
  text-align: center;
  padding: 20px;
  letter-spacing: 3px;
  font-weight: 600;
}

.secondary-container .progressbar {
  padding: 20px;
  margin-left: 30%;
}

.secondary-container .progressbar .progressbarHTML {
  background-color: grey;
  width: 50%;
  border-radius: 10px;
}

.secondary-container .progressbar .progressbarHTML > div {
  background-color: #d4AF37;
  height: 10px;
  border-radius: 10px;
  animation-name: progressHTML;
  animation-duration: 8s;
  animation-delay: 0, 6s;
  animation-iteration-count: infinite;
  width: 90%;
}

.secondary-container .progressbar .progressbar-CSS {
  background-color: grey;
  width: 50%;
  border-radius: 10px;
}

.secondary-container .progressbar .progressbar-CSS > div {
  background-color: #d4AF37;
  height: 10px;
  border-radius: 10px;
  animation-name: progress-CSS;
  animation-duration: 8s;
  animation-delay: 0, 6s;
  animation-iteration-count: infinite;
  width: 85%;
}

.secondary-container .progressbar .progressbar-PHP {
  background-color: grey;
  width: 50%;
  border-radius: 10px;
}

.secondary-container .progressbar .progressbar-PHP > div {
  background-color: #d4AF37;
  height: 10px;
  border-radius: 10px;
  animation-name: progress-PHP;
  animation-duration: 8s;
  animation-delay: 0, 6s;
  animation-iteration-count: infinite;
  width: 80%;
}

.secondary-container .progressbar .progressbar-JavaScript {
  background-color: grey;
  width: 50%;
  border-radius: 10px;
}

.secondary-container .progressbar .progressbar-JavaScript > div {
  background-color: #d4AF37;
  height: 10px;
  border-radius: 10px;
  animation-name: progress-JavaScript;
  animation-duration: 8s;
  animation-delay: 0, 6s;
  animation-iteration-count: infinite;
  width: 80%;
}

/*************************************************** Third Container ****************************************************/
.third-container {
  padding: 20px;
  position: relative;
  top: 200px;
}

.third-container h1 {
  text-align: center;
  padding: 20px;
  letter-spacing: 3px;
  font-weight: 600;
}

.third-container .progressbar {
  padding: 20px;
  margin-left: 30%;
}

.third-container .progressbar .progressbar-logo {
  background-color: grey;
  width: 50%;
  border-radius: 10px;
}

.third-container .progressbar .progressbar-logo > div {
  background-color: #d4AF37;
  height: 10px;
  border-radius: 10px;
  animation-name: progress-logo;
  animation-duration: 8s;
  animation-delay: 0, 6s;
  animation-iteration-count: infinite;
  width: 90%;
}

.third-container .progressbar .progressbar-ui {
  background-color: grey;
  width: 50%;
  border-radius: 10px;
}

.third-container .progressbar .progressbar-ui > div {
  background-color: #d4AF37;
  height: 10px;
  border-radius: 10px;
  animation-name: progress-ui;
  animation-duration: 8s;
  animation-delay: 0, 6s;
  animation-iteration-count: infinite;
  width: 85%;
}

.third-container .progressbar .progressbar-Photoshop {
  background-color: grey;
  width: 50%;
  border-radius: 10px;
}

.third-container .progressbar .progressbar-Photoshop > div {
  background-color: #d4AF37;
  height: 10px;
  border-radius: 10px;
  animation-name: progress-ui;
  animation-duration: 8s;
  animation-delay: 0, 6s;
  animation-iteration-count: infinite;
  width: 85%;
}

.third-container .progressbar .progressbar-Illustration {
  background-color: grey;
  width: 50%;
  border-radius: 10px;
}

.third-container .progressbar .progressbar-Illustration > div {
  background-color: #d4AF37;
  height: 10px;
  border-radius: 10px;
  animation-name: progress-ui;
  animation-duration: 8s;
  animation-delay: 0, 6s;
  animation-iteration-count: infinite;
  width: 85%;
}

/*************************************************** Fourth Container ****************************************************/
.fourth-container {
  position: relative;
  top: 300px;
  width: 100%;
}

.fourth-container h1 {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
}

.fourth-container .keystrenghts {
  display: grid;
  position: relative;
  top: 100px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 30%;
  text-align: center;
}

.fourth-container .time-keeper {
  animation-name: keystrength-time;
  animation-duration: 4s;
  animation-delay: 0, 20s;
  animation-iteration-count: infinite;
}

.fourth-container .team-player {
  animation-name: keystrength-team;
  animation-duration: 4s;
  animation-delay: 0, 20s;
  animation-iteration-count: infinite;
}

.fourth-container .empathizer {
  animation-name: keystrength-empathy;
  animation-duration: 4s;
  animation-delay: 0, 20s;
  animation-iteration-count: infinite;
}

/*************************************************** Fifth Container ****************************************************/
.fifth-container {
  position: relative;
  margin-top: 600px;
  width: 100%;
}

.fifth-container h1 {
  padding: 20px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
}

.fifth-container h3 {
  margin-left: 30px;
  margin-top: 60px;
  letter-spacing: 1px;
}

.fifth-container .photography {
  display: flex;
  align-items: center;
  min-width: 1300px;
  margin-top: 150px;
}

.fifth-container .photography .image-wrapper {
  position: relative;
  flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.fifth-container .photography img {
  height: 300px;
  width: 600px;
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: 0%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all .25s;
}

.fifth-container .photography img:hover {
  z-index: 2;
  animation: imagehover 2s;
}

/*************************************************** Sixth Container ****************************************************/
.sixth-container {
  position: relative;
  top: 200px;
  width: 100%;
  margin: 0;
}

.sixth-container h1 {
  text-align: center;
  font-weight: 400;
}

.sixth-container h2 {
  font-weight: 400;
}

.sixth-container .certificate {
  display: grid;
  position: relative;
  top: 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  text-align: center;
  height: 450px;
  width: 100%;
}

.sixth-container .certificate .certificate-1 {
  position: relative;
  left: 20px;
  background-image: url("images/HTML5_Logo_512.png");
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center;
}

.sixth-container .certificate .certificate-2 {
  position: relative;
  background-image: url("images/css.png");
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.sixth-container .certificate .certificate-3 {
  position: relative;
  background-image: url("images/Octocat.png");
  background-size: 400px;
  background-repeat: no-repeat;
  right: 20px;
  background-position: center;
}

.sixth-container .certificate a {
  position: relative;
  top: 350px;
  text-decoration: none;
  text-align: center;
  padding: 15px;
}

.sixth-container .certificate a:hover {
  background-color: darkcyan;
}

.sixth-container .certificate img {
  object-fit: fill;
}

/*************************************************** ***************** ****************************************************/
/***************************************************  Resume    ***********************************************************/
/*************************************************** ***************** ****************************************************/
.main-resume {
  text-align: center;
}

.main-resume h1 {
  position: relative;
  top: 40px;
  text-align: center;
  font-weight: 600;
}

.main-resume a {
  position: relative;
  top: 80px;
  background-color: #d4AF37;
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
}

.main-resume .sec-resume {
  position: relative;
  top: 160px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto;
}

/*************************************************** ***************** ****************************************************/
/***************************************************  Projects  ***********************************************************/
/*************************************************** ***************** ****************************************************/
.main-content {
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
}

.main-content h1 {
  position: relative;
  top: 40px;
  text-align: center;
  color: white;
  font-weight: 600;
}

.main-content p {
  margin: 20px;
  text-align: left;
}

.main-content .first-project {
  background-color: #E6DACE;
  position: relative;
  top: 80px;
  margin-left: 250px;
  margin-right: 250px;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  height: 500px;
  width: 1000px;
}

.main-content .first-project img {
  object-fit: fill;
}

.main-content .second-project {
  background-color: #E6DACE;
  position: relative;
  top: 240px;
  margin-left: 250px;
  margin-right: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  height: 500px;
  width: 1000px;
}

.main-content .second-project img {
  object-fit: fill;
}

/*************************************************** ***************** ****************************************************/
/*************************************************** Contact ME ***********************************************************/
/*************************************************** ***************** ****************************************************/
.contact-me {
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 100px;
}

.contact-me h1 {
  text-align: center;
  font-weight: 600;
}

.contact-me input[type=text], .contact-me select, .contact-me textarea, .contact-me [type=email], .contact-me [type=submit] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  opacity: 0.8;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-me input[type=submit] {
  background-color: #d4AF37;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-me input[type=submit]:hover {
  background-color: cadetblue;
}

.contact-me .container {
  border-radius: 5px;
  padding: 20px;
}

/* Footer */
footer {
  position: relative;
  top: 400px;
  width: 100%;
  margin: 0;
}

footer p {
  text-align: center;
}

/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*************************************************** KEY FRAMES ****************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
@keyframes progressHTML {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes progress-CSS {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes progress-PHP {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes progress-JavaScript {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes progress-logo {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes progress-ui {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes progress-Photoshop {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes progress-Illustration {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes keystrength-time {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(100%);
  }
  100% {
    transform: scale(90%);
  }
}

@keyframes keystrength-team {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(100%);
  }
  100% {
    transform: scale(90%);
  }
}

@keyframes keystrength-empathy {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(100%);
  }
  100% {
    transform: scale(90%);
  }
}

@keyframes image {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes imagehover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
